<!-- Razor component for the page accessible at "/SamplesPages/Basics"-->
@page "/SamplePages/Basics"

<!--  PageTitle component to set the page title-->
<PageTitle>Review page basics</PageTitle>

<!-- Main heading of the page-->

<h1>Introduction to Blazor Page (Review)</h1>


@{
    //Comments in Razor can be like this in a @{ } to use //
}

<!--
Or comments can be like this within these "arrows"
-->
@{
    // Blazor Components Combine C# and HTML in a single file
    // The '@' symbol is used to switch between HTML to C#
    // When using '@', you are in the C# environment, allowing for C# code execution
    // Without '@' you are in the HTML environment, where you can write standard HTML
}

<div>
    <h3>Demonstration of using Methods</h3>
    <!--Conditionally display content based on if the oddEvenValue is Even or Odd-->
    @if(isEven)
    {
        <!--
        Display a message if the value is even
        injects the MY_NAME constant and oddEvenValue field
        into the HTML using the 'at' symbol
        -->
        <p>@MY_NAME is even {@oddEvenValue}</p>
    }
    else
    {
        <!--Display a different messasge is the value is odd-->
        <p>The ramdom number is odd {@oddEvenValue}</p>
    }
    <button @onclick="RandomValue">
        Randon Number
    </button>

</div>
